<template>
  <v-app>
    <v-alert
      :value="alert"
      type="error"
    >
      {{ message }}
    </v-alert>
    <v-layout
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm8
        md4
      >
        <v-card class="elevation-12">
          <v-toolbar
            dark
            color="primary"
          >
            <v-toolbar-title>Login</v-toolbar-title>
            <v-spacer />
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="usuario.username"
                prepend-icon="person"
                name="username"
                label="Usuario"
                type="text"
              />
              <v-text-field
                v-model="usuario.senha"
                prepend-icon="lock"
                name="senha"
                label="Senha"
                type="password"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="primary"
              @click="login"
            >
              Entrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import Auth from '../../services/auth';

export default {
  name: 'Login',
  data: () => ({
    alert: false,
    usuario: {
      username: '',
      senha: '',
    },
    message: '',
  }),
  mounted() {

  },
  methods: {
    login() {
      if (this.usuario.username !== '' && this.usuario.senha !== '') {
        const tthis = this;
        Auth.login(this.usuario).then((result) => {
          if (result.data.error) {
            this.alert = true;
            this.message = result.data.error;
          } else {
            tthis.$store.commit('updatedToken', result.data.token);
            tthis.$store.commit('updatedUser', result.data.user);
            localStorage.setItem('token', result.data.token);

            tthis.$router.replace('/dashboard');
            tthis.alert = false;
          }
        }).catch((err) => {
          console.log(err);
        });
      } else {
        this.alert = true;
        this.message = 'Usuario ou senha não foram informados';
      }
    },
  },
};
</script>
