<template>
  <div>
    <!-- ALERTA -->
    <v-alert
      :value="messageAlert"
      type="warning"
      transition="scale-transition"
    >
      {{ message }}
    </v-alert>
    <v-toolbar
      flat
      color="white"
    >
      <v-toolbar-title bold>
        Alunos
      </v-toolbar-title>
      <v-spacer />

      <v-btn
        color="primary"
        dark
        class="mb-2"
        @click="gerarCarteirinhas()"
      >
        Gerar carteirinhas
      </v-btn>
    </v-toolbar>
    <template>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="alunos"
        item-key="_id"
        select-all
        class="elevation-1"
      >
        <template
          slot="items"
          slot-scope="props"
        >
          <td>
            <v-checkbox
              v-model="props.selected"
              primary
              hide-details
            />
          </td>
          <td>{{ props.item.nome }}</td>
          <td class="text-xs-right">
            {{ props.item.escola.nome }}
          </td>
          <td class="text-xs-right">
            {{ props.item.escola.cidade }}
          </td>
          <td class="text-xs-right">
            {{ props.item.celular }}
          </td>
          <td class="justify-center layout px-1">
            <v-icon
              small
              class="mr-2"
              title="Editar"
              @click="editar(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              class="mr-2"
              title="Deletar"
              @click="messageDelete(props.item, true)"
            >
              delete
            </v-icon>
          </td>
        </template>
      </v-data-table>
    </template>
    <v-dialog
      v-model="dialogCarteirinhas"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card tile>
        <v-toolbar
          card
          dark
          color="primary"
        >
          <v-btn
            icon
            dark
            @click="dialogCarteirinhas = false"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Carteirinhas</v-toolbar-title>
          <v-spacer />
          <v-toolbar-items>
            <v-btn
              dark
              flat
              @click="dialog = false"
            >
              <v-icon>print</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <v-list
            three-line
            subheader
          >
            <v-list two-line>
              <template v-for="item in selected">
                <v-subheader
                  v-if="item.nome"
                  :key="item._id"
                >
                  {{ item.nome }}
                </v-subheader>
              </template>
            </v-list>
          </v-list>
        </v-card-text>

        <div style="flex: 1 1 auto;" />
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Aluno from '../../services/alunos';

export default {
  name: 'Dashboard',
  data: () => ({
    headers: [
      { text: 'Nome', value: 'nome' },
      { text: 'Celular', value: 'celular' },
      { text: 'Escola', value: 'escola' },
      { text: 'Cidade', value: 'cidade' },
    ],
    messageAlert: false,
    message: '',
    dialogCarteirinhas: false,
    selected: [],
    carteirinhas: [],
    carteirinha: {
      aluno_nome: '',
      aluno_celular: '',
      aluno_escola_cidade: '',
      validade: '',
    },
    alunos: [],
  }),
  mounted() {
    this.listarAlunos();
    this.$store.commit('updatedTitle', 'Carteirinhas');
  },
  methods: {
    gerarCarteirinhas() {
      this.messageAlert = false;
      console.log('Alert: ', this.messageAlert);
      if (this.selected.length > 0) {
        this.messageAlert = false;
        this.dialogCarteirinhas = true;
      } else {
        this.message = 'Não foi selecionado nenhum aluno';
        this.messageAlert = true;
        console.log(`Alert: ${this.messageAlert} - Message: ${this.message}`);
      }
    },
    listarAlunos() {
      Aluno.listar().then((result) => {
        this.alunos = result.data;
      });
    },
  },
};
</script>
