<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      xs12
    >
      <v-alert
        :value="alert"
        type="success"
        dismissible
        transition="scale-transition"
      >
        {{ message }}
      </v-alert>

      <v-toolbar
        flat
        color="white"
      >
        <v-spacer />
        <v-dialog
          v-model="dialog"
          persistent
          max-width="800"
        >
          <v-btn
            slot="activator"
            color="primary"
            dark
            class="mb-2"
          >
            Novo
          </v-btn>
          <v-card>
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
            >
              <v-card-text>
                <v-container
                  grid-list-md
                  text-xs-center
                >
                  <v-layout
                    row
                    wrap
                  >
                    <v-flex
                      xs12
                      md9
                    >
                      <v-text-field
                        v-model="aluno.nome"
                        label="Nome*"
                        placeholder
                        required
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm4
                      md3
                    >
                      <v-text-field
                        v-model="aluno.dataNascimento"
                        label="Nascimento"
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm4
                      md4
                    >
                      <v-text-field
                        v-model="aluno.rg"
                        label="RG"
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm4
                      md4
                    >
                      <v-text-field
                        v-model="aluno.cpf"
                        label="CPF"
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm4
                      md4
                    >
                      <v-text-field
                        v-model="aluno.celular"
                        label="Celular*"
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm8
                      md10
                    >
                      <v-text-field
                        v-model="aluno.endereco_rua"
                        label="Rua*"
                        required
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm3
                      md2
                    >
                      <v-text-field
                        v-model="aluno.endereco_numero"
                        label="Numero*"
                        required
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm9
                      md12
                    >
                      <v-text-field
                        v-model="aluno.endereco_bairro"
                        label="Bairro*"
                        required
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm7
                      md8
                    >
                      <v-select
                        v-model="aluno.escola"
                        :items="escolas"
                        item-text="noCidade"
                        item-value="_id"
                        label="Escolas*"
                      />
                    </v-flex>
                    <v-flex
                      xs12
                      sm5
                      md4
                    >
                      <v-text-field
                        v-model="aluno.matricula"
                        label="Matricula"
                      />
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="red darken-1"
                  flat="flat"
                  @click="aluno = {}, dialog = false"
                >
                  Cancelar
                </v-btn>
                <v-btn
                  color="green darken-1"
                  flat="flat"
                  @click="salvar"
                >
                  Salvar
                </v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="alunos"
        class="elevation-1"
      >
        <template
          slot="items"
          slot-scope="props"
        >
          <td>{{ props.item.nome }}</td>
          <td>{{ props.item.celular }}</td>
          <td>{{ props.item.escola.nome }}</td>
          <td>{{ props.item.escola.cidade }}</td>
          <td class="justify-center layout px-1">
            <v-icon
              small
              class="mr-2"
              title="Editar"
              @click="editar(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              class="mr-2"
              title="Deletar"
              @click="messageDelete(props.item, true)"
            >
              delete
            </v-icon>
            <v-icon
              small
              class="mr-2"
              title="Carteirinha"
              @click="messageDelete(props.item, true)"
            >
              assignment_ind
            </v-icon>
          </td>
        </template>
      </v-data-table>
      <v-layout
        row
        justify-center
      >
        <v-dialog
          v-model="dialogConfirmDelete"
          persistent
          max-width="290"
        >
          <v-card>
            <v-card-title
              class="error headline"
              style="font-weight: bold; color: white"
            >
              Comfirma?
            </v-card-title>
            <v-card-text>
              Tem certeza que deseja excluir este aluno?
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                flat
                @click="dialogConfirmDelete = false"
              >
                Cancelar
              </v-btn>
              <v-btn
                flat
                color="error darken-1"
                @click="deletar(aluno)"
              >
                Comfirmar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import Escola from '../../services/escolas';
import Aluno from '../../services/alunos';

export default {
  data: () => ({
    valid: true,
    dialogConfirmDelete: '',
    alert: false,
    message: '',
    dialog: false,
    aluno: {
      _id: null,
      rg: '',
      cpf: '',
      dataNascimento: '',
      celular: '',
      escola: '',
      matricula: '',
      endereco_rua: '',
      endereco_numero: '',
      endereco_bairro: '',
    },
    headers: [
      { text: 'Nome', value: 'nome' },
      { text: 'Celular', value: 'celular' },
      { text: 'Escola', value: 'escola' },
      { text: 'Cidade', value: 'cidade' },
    ],
    alunos: [],
    escola: {
      _id: '',
      nome: '',
      cidade: '',
      noCidade: '',
    },
    escolas: [],
  }),
  mounted() {
    this.listarAlunos();
    this.listarEscolas();

    this.$store.commit('updatedTitle', 'Alunos');
  },
  methods: {
    listarAlunos() {
      Aluno.listar().then((result) => {
        this.alunos = result.data;
      });
    },
    listarEscolas() {
      Escola.listar().then((result) => {
        result.data.forEach((element) => {
          this.escola = element;
          this.escola.noCidade = `${element.nome} - ${element.cidade}`;
          this.escolas.push(this.escola);
        });
      });
    },
    salvar() {
      // eslint-disable-next-line no-underscore-dangle
      if (!this.aluno._id) {
        Aluno.salvar(this.aluno).then((result) => {
          this.message = 'Aluno cadastrado com sucesso';
          this.alert = true;
          this.aluno = {};
          this.dialog = false;
          this.listar();
        }).catch((err) => {
          console.log(err);
        });
      } else {
        Aluno.alterar(this.aluno).then((result) => {
          this.alert = true;
          this.message = 'Aluno alterado com sucesso';
          this.dialog = false;
          this.aluno = {};
        }).catch((err) => { });
      }
    },
    editar(item) {
      this.aluno = item;
      this.dialog = true;
    },
    messageDelete(item, show) {
      this.alert = false;
      this.dialogConfirmDelete = show;
      this.aluno = item;
    },
    deletar(item) {
      this.dialogConfirmDelete = false;
      const aux = this.alunos;
      const index = aux.indexOf(item);
      aux.splice(index, 1);
      this.alunos = aux;
      // eslint-disable-next-line no-underscore-dangle
      Aluno.deletar(item);
      this.alert = true;
      this.message = 'Aluno deletado com sucesso';
    },
  },
};
</script>
