<template>
  <div>
    <!-- ALERTA -->
    <v-alert
      :value="alert"
      type="success"
      dismissible
      transition="scale-transition"
    >
      {{ message }}
    </v-alert>

    <v-toolbar
      flat
      color="white"
    >
      <v-spacer />
      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
      >
        <v-btn
          slot="activator"
          color="primary"
          dark
          class="mb-2"
        >
          Novo
        </v-btn>
        <v-card>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-card-text>
              <v-container
                grid-list-md
                text-xs-center
              >
                <v-layout
                  row
                  wrap
                >
                  <v-flex xs12>
                    <v-text-field
                      v-model="escola.nome"
                      label="Nome*"
                      placeholder
                      required
                    />
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      v-model="escola.cidade"
                      label="Cidade*"
                      required
                    />
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="red darken-1"
                flat="flat"
                @click="escola = {}, dialog = false"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="green darken-1"
                flat="flat"
                @click="salvar"
              >
                Salvar
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="escolas"
      class="elevation-1"
    >
      <template
        slot="items"
        slot-scope="props"
      >
        <td>{{ props.item.nome }}</td>
        <td>{{ props.item.cidade }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editar(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="messageDelete(props.item, true)"
          >
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
    <v-layout
      row
      justify-center
    >
      <v-dialog
        v-model="dialogConfirmDelete"
        persistent
        max-width="290"
      >
        <v-card>
          <v-card-title
            class="error headline"
            style="font-weight: bold; color: white"
          >
            Comfirma?
          </v-card-title>
          <v-card-text>
            Tem certeza que deseja excluir esta escola?
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn
              flat
              @click="dialogConfirmDelete = false"
            >
              Cancelar
            </v-btn>
            <v-btn
              flat
              color="error darken-1"
              @click="deletar(escola)"
            >
              Comfirmar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
import Escola from '../../services/escolas';

export default {
  data: () => ({
    valid: true,
    dialogConfirmDelete: '',
    alert: false,
    message: '',
    dialog: false,
    escola: {
      _id: null,
      nome: '',
      cidade: '',
    },
    headers: [
      { text: 'Nome', value: 'nome' },
      { text: 'Cidade', value: 'cidade' },
    ],
    escolas: [],
    editedIndex: -1,
  }),
  mounted() {
    this.listar();
    this.$store.commit('updatedTitle', 'Escolas');
  },
  methods: {
    listar() {
      Escola.listar().then((result) => {
        this.escolas = result.data;
      });
    },
    salvar() {
      // eslint-disable-next-line no-underscore-dangle
      if (!this.escola._id) {
        Escola.salvar(this.escola).then((result) => {
          this.alert = true;
          this.message = 'Escola cadastrada com sucesso';
          this.listar();
          this.escola = {};
          this.dialog = false;
        }).catch((err) => {

        });
      } else {
        Escola.alterar(this.escola).then((result) => {
          this.alert = true;
          this.message = 'Escola alterada com sucesso';
          this.dialog = false;
        });
      }
    },
    editar(item) {
      this.escola = item;
      this.dialog = true;
    },
    messageDelete(item, show) {
      this.alert = false;
      this.dialogConfirmDelete = show;
      this.escola = item;
    },
    deletar(item) {
      this.dialogConfirmDelete = false;
      const aux = this.escolas;
      const index = aux.indexOf(item);
      aux.splice(index, 1);
      this.escolas = aux;
      // eslint-disable-next-line no-underscore-dangle
      Escola.deletar(item);
      this.alert = true;
      this.message = 'Escola deletada com sucesso';
    },
  },
};
</script>
