<template>
  <v-layout
    row
    justify-center
  >
    <v-dialog
      v-model="dialogConfirmDelete"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title
          class="error headline"
          style="font-weight: bold; color: white"
        >
          Comfirma?
        </v-card-title>
        <v-card-text>
          {{ message }}
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            flat
            @click="dialogConfirmDelete = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            flat
            color="error darken-1"
            @click="deleteItem(item)"
          >
            Comfirmar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  name: 'MessageDelete',
  data: () => ({
    message: '',
    item: '',
  }),
};
</script>
