<template>
  <div id="menu">
    <v-layout
      row
      wrap
    >
      <v-navigation-drawer
        v-model="drawer"
        fixed
        :clipped="$vuetify.breakpoint.mdAndUp"
        app
      >
        <v-list dense>
          <template v-for="item in items">
            <v-list-tile
              :key="item.text"
              :to="{path: item.url}"
            >
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar
        color="blue darken-3"
        dark
        app
        :clipped-left="$vuetify.breakpoint.mdAndUp"
        fixed
      >
        <v-toolbar-title
          style="width: 300px"
          class="ml-0 pl-3"
        >
          <v-toolbar-side-icon @click.stop="drawer = !drawer" />
          <span class="hidden-sm-and-down">
            Carteirinha
          </span>
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          icon
          @click="logout"
        >
          <v-icon>person</v-icon>
        </v-btn>
      </v-toolbar>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'NavMenu',
  data: () => ({
    items: [
      { icon: 'person', text: 'Alunos', url: '/alunos' },
      { icon: 'school', text: 'Escolas', url: '/escolas' },
    ],
  }),
  methods: {
  },
};
</script>
