<template>
  <v-app>
    <v-layout
      v-if="isAuthenticated"
      row
      wrap
    >
      <v-navigation-drawer
        v-model="drawer"
        fixed
        :clipped="$vuetify.breakpoint.mdAndUp"
        app
      >
        <v-list dense>
          <template v-for="item in items">
            <v-list-tile
              :key="item.text"
              :to="{path: item.url}"
            >
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar
        color="blue darken-3"
        dark
        app
        :clipped-left="$vuetify.breakpoint.mdAndUp"
        fixed
      >
        <v-toolbar-title
          style="width: 300px"
          class="ml-0 pl-3"
        >
          <v-toolbar-side-icon @click.stop="drawer = !drawer" />
          <span class="hidden-sm-and-down">
            {{ getTitle }}
          </span>
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          icon
          @click="logout"
        >
          <v-icon>person</v-icon>
        </v-btn>
      </v-toolbar>
    </v-layout>
    <v-content>
      <v-container>
        <transition>
          <router-view />
        </transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    drawer: null,
    items: [
      { icon: 'person', text: 'Alunos', url: '/alunos' },
      { icon: 'school', text: 'Escolas', url: '/escolas' },
      { icon: 'assignment_ind', text: 'Carteirinhas', url: '/dashboard' },
    ],
  }),
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    getTitle() {
      return this.$store.getters.getTitle;
    },
  },
  mounted() {
    this.$store.commit('updatedToken', localStorage.getItem('token'));
    this.$store.commit('updatedUser', localStorage.getItem('usuario'));
  },
  methods: {
    logout() {
      localStorage.removeItem('token');
      localStorage.removeItem('usuario');
      this.$store.commit('updatedToken', null);
      this.$store.commit('updatedUser', null);
      this.$router.replace('/login');
    },
  },
};
</script>
